<div id="<%= dom_id job %>">
  <p>
    <strong>Name:</strong>
    <%= job.name %>
  </p>

  <p>
    <strong>Execution type:</strong>
    <%= job.execution_type %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= job.event %>
  </p>

  <p>
    <strong>Scheduled time:</strong>
    <%= job.scheduled_time %>
  </p>

  <p>
    <strong>Recurring:</strong>
    <%= job.recurring %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= job.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

</div>
